## Regression: Predicting Diamond Prices

In [41]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [42]:
#Loading the data
diamond = pd.read_csv('/home/christine/Desktop/My Projects/Diamond-prices/diamonds.csv',index_col= 0)
diamond.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [43]:
diamond.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

$ Inference $
* The dataset has object and float variables with no missing values.

In [44]:
diamond.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [56]:
diamond.corr()['price']

carat    0.921591
depth   -0.010647
table    0.127134
price    1.000000
x        0.884435
y        0.865421
z        0.861249
Name: price, dtype: float64

In [45]:
diamond.duplicated().sum()

146

In [46]:
diamond[diamond.duplicated()]

       carat    cut color clarity  depth  table  price     x     y     z
1006    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1007    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1008    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1009    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
2026    1.52   Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
47970   0.52  Ideal     D     VS2   61.8   55.0   1919  5.19  5.16  3.20
49327   0.51  Ideal     F    VVS2   61.2   56.0   2093  5.17  5.19  3.17
49558   0.71   Good     F     SI2   64.1   60.0   2130  0.00  0.00  0.00
50080   0.51  Ideal     F    VVS2   61.2   56.0   2203  5.19  5.17  3.17
52862   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[146 rows x 10 columns]

## Modeling

## Splitting data

In [47]:
#Splitting data into dependent and independent variables
y = diamond.price
X =  diamond.drop(['price'],axis = 1)

In [48]:
X = pd.get_dummies(X,drop_first=True)
X.head()

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
1,0.23,61.5,55.0,3.95,3.98,2.43,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.21,59.8,61.0,3.89,3.84,2.31,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0.23,56.9,65.0,4.05,4.07,2.31,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.29,62.4,58.0,4.20,4.23,2.63,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
5,0.31,63.3,58.0,4.34,4.35,2.75,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0

# Train Test  split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

reg = LinearRegression()
reg.fit(X_train, y_train)

y_pred = reg.predict(X_test)


print('model accuracy is',reg.score(X_test,y_test))

model accuracy is 0.9178719408779342

In [57]:

X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)

reg = sm.OLS(y_train,X_train).fit()
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.920
Model:                            OLS   Adj. R-squared:                  0.920
Method:                 Least Squares   F-statistic:                 2.163e+04
Date:                Wed, 26 Apr 2023   Prob (F-statistic):               0.00
Time:                        00:21:54   Log-Likelihood:            -3.6465e+05
No. Observations:               43152   AIC:                         7.293e+05
Df Residuals:                   43128   BIC:                         7.295e+05
Df Model:                          23
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          2290.6087    453.353      5.053      0.000    1402.029    3179.188
carat          1.124e+04     53.770    208.968      0.000    1.11e+04    1.13e+04
depth           -65.1730      5.004    -13.024      0.000     -74.981     -55.365
table           -27.5203      3.254     -8.456      0.000     -33.899     -21.142
x             -1007.4911     34.794    -28.956      0.000   -1075.688    -939.294
y                14.9733     19.553      0.766      0.444     -23.350      53.297
z               -45.7367     34.196     -1.337      0.181    -112.762      21.289
cut_Good        571.4491     37.523     15.230      0.000     497.904     644.994
cut_Ideal       821.6319     37.260     22.051      0.000     748.602     894.662
cut_Premium     755.0978     35.990     20.980      0.000     684.556     825.640
cut_Very Good   718.9662     36.019     19.961      0.000     648.368     789.565
color_E        -206.3745     20.092    -10.272      0.000    -245.754    -166.995
color_F        -270.7267     20.280    -13.350      0.000    -310.475    -230.978
color_G        -477.5947     19.868    -24.039      0.000    -516.536    -438.654
color_H        -973.7766     21.080    -46.194      0.000   -1015.094    -932.459
color_I       -1461.6577     23.669    -61.753      0.000   -1508.050   -1415.265
color_J       -2363.6584     29.297    -80.678      0.000   -2421.082   -2306.235
clarity_IF     5373.7604     57.051     94.193      0.000    5261.940    5485.581
clarity_SI1    3676.0795     48.612     75.621      0.000    3580.799    3771.360
clarity_SI2    2717.0594     48.842     55.630      0.000    2621.328    2812.790
clarity_VS1    4594.4790     49.656     92.527      0.000    4497.153    4691.805
clarity_VS2    4271.0156     48.882     87.375      0.000    4175.207    4366.824
clarity_VVS1   5015.6531     52.590     95.372      0.000    4912.575    5118.731
clarity_VVS2   4959.0093     51.105     97.035      0.000    4858.842    5059.176
==============================================================================
Omnibus:                    11333.638   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           463875.010
Skew:                           0.533   Prob(JB):                         0.00
Kurtosis:                      19.027   Cond. No.                     7.08e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.08e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## Checking for assumptions

We will be checking the following Linear Regression assumptions:

* No Multicollinearity

* Linearity of variables

* Independence of error terms

* Normality of error terms

* No Heteroscedasticity